body {
    font-family: Arial, sans-serif;
}
.image-container {
    position: relative;
    overflow: hidden;
}
#zoomableImage {
    transition: transform 0.2s ease;
    width: 100%; /* Установите ширину изображения по вашему желанию */
}
.cursor-zoom {
    cursor: url('magnifying-glass.png'), auto; /* Замените на путь к вашей иконке лупы */
}
